
NET "clk" LOC = "P89" | IOSTANDARD = LVCMOS25 | PERIOD = 31.25ns ;
NET "rst" LOC = "P17" | IOSTANDARD = LVTTL ; #C15
NET "btnU" LOC = "P16" | IOSTANDARD = LVTTL ; #C14
NET "btnD" LOC = "P15" | IOSTANDARD = LVTTL ; #C14

#PORTC
NET "DB<15>" LOC = "P18" | IOSTANDARD = LVTTL ; #
NET "DB<14>" LOC = "P23" | IOSTANDARD = LVTTL ; #
NET "DB<13>" LOC = "P26" | IOSTANDARD = LVTTL ; #
NET "DB<12>" LOC = "P33" | IOSTANDARD = LVTTL ; #
NET "DB<11>" LOC = "P35" | IOSTANDARD = LVTTL ; #
NET "DB<10>" LOC = "P40" | IOSTANDARD = LVTTL ; #
NET "DB<9>"	 LOC = "P53" | IOSTANDARD = LVTTL ; #
NET "DB<8>"	 LOC = "P57" | IOSTANDARD = LVTTL ; #
NET "DB<7>"	 LOC = "P60" | IOSTANDARD = LVTTL ; #
NET "DB<6>"	 LOC = "P62" | IOSTANDARD = LVTTL ; #
NET "DB<5>"	 LOC = "P65" | IOSTANDARD = LVTTL ; #
NET "DB<4>"	 LOC = "P67" | IOSTANDARD = LVTTL ; #
NET "DB<3>"	 LOC = "P70" | IOSTANDARD = LVTTL ; #
NET "DB<2>"	 LOC = "P79" | IOSTANDARD = LVTTL ; #
NET "DB<1>"	 LOC = "P84" | IOSTANDARD = LVTTL ; #
NET "DB<0>"	 LOC = "P86" | IOSTANDARD = LVTTL ; #